/* Gilroy font added */
@font-face {
  font-family: "Gilroy";
  src: url("../assets/Gilroy-Medium.woff") format("woff");
}

/* Apply font family to body */
body {
  font-family: "Gilroy", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 600;
}

/* Common styles to all classes applied */
.pitch,
.eventDetails,
.funding,
.fundingInfo,
.fundingInfoText,
.mentors,
.mentor,
.faq {
  display: flex;
  flex-direction: column;
}

/* pitch section styles */

.pitch > h2 {
  font-size: 4rem;
  margin-top: 0px;
}

#pitchText {
  font-size: 2.5rem;
}

#pitchDescription {
  font-size: 1.5rem;
}

.eventDetails {
  position: relative;
  gap: 0.4em;
}

#eventLocation,
.apply {
  padding: 0.3em 0.4em;
  display: inline-block;
  background-color: var(--color-darkblue);
  border-radius: var(--border-radius-s);
  color: var(--color-cta-text);
  width: max-content;
}

.apply {
  background-color: #3b82f6;
  color: var(--color-cta-text);
  text-align: center;
  width: 250px;
}

.apply.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.eventDetails > p {
  font-size: 1.6rem;
}
#eventDates {
  font-size: 1.125rem;
}

/* funding section styles applied */

.fundingInfoText > h2,
.fundingInfo > h2 {
  margin-top: 0;
  font-size: 8.25rem;
}
.fundingInfoText > p,
.fundingInfo > p {
  font-size: 2rem;
  color: #999999;
  text-align: center;
}

/* Common styles to all classes applied */
.funding,
.fundingInfo,
.fundingInfoText,
.mentors,
.mentor {
  align-items: center;
}
.fundingInfo.imageIncluded {
  gap: 3em;
}

.funding,
.mentors,
.pitch {
  padding: 3.5em 0;
}
.funding {
  gap: 3em;
}

.border {
  height: 2px;
  background-image: linear-gradient(180deg, white, gray, white);
  width: 100%;
}

/* mentor section styles applied */

.mentorWrapper {
  width: 100%;
}

.mentors,
.faq {
  gap: 2em;
}
.mentor > img {
  width: 100%;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5em;
}

/* If screensize greater than 720px - Mobile First approach */
@media (min-width: 720px) {
  .border {
    width: 4px;
    align-self: stretch;
    height: unset;
  }
  .funding,
  .mentors,
  .pitch {
    padding: 1.5em 0;
  }
  .funding {
    flex-direction: row;
    justify-content: space-between;
  }

  .fundingInfo {
    width: 48%;
  }
  .mentorWrapper {
    display: flex;
    gap: 6em;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mentor {
    width: 25%;
  }
  #pitchDescription {
    width: 80%;
  }
  .questionsWrapper {
    width: 80%;
  }
}
